#attendance-table {
  th {
    vertical-align: middle;
    text-align: center;
     }
  td {
    vertical-align: middle;
    text-align: center;
     }
}

#one_month_table {
  th {
  vertical-align: middle;
  text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
     }
}